// File Name: _header.scss
// Description: default header styles
// Used by: style.scss, 
// Dependencies: 
// Date created: 26/07/2015
// ------------------------------------------------------------

header{
  text-align: center;

  .background{
    position: relative;
  }

  h1{
    @include rem("font-size", 26);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px; 
    color: white;
    @include single-text-shadow(1px, 2px, 2px, #000);

    @include min-breakpoint($sassySmall){
      @include rem("font-size", 60);
      bottom: 80px;
    }

    @include min-breakpoint($sassyMed){
      @include rem("font-size", 90);
      bottom: 120px;
    }
  }

  img{
    width: 100%;
    //max-width: 620px;
  }

  .github-button{
    text-align: center;
    width: 120px;
    margin-top: 30px;
    @extend %marginAuto;
  }
}